<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div id="form">
    <fieldset>
        <legend th:text="${city.nameCity}"></legend>
        <table>
            <tr>
                <td>NameCity</td>
                <td th:text="${city.nameCity}"></td>
            </tr>
            <tr>
                <td>Country</td>
                <td th:text="${city.country.name}"></td>
            </tr>
            <tr>
                <td>Area</td>
                <td th:text="${city.area}"></td>
            </tr>
            <tr>
                <td>PopulationData</td>
                <td th:text="${city.populationData}"></td>
            </tr>
            <tr>
                <td>GPD</td>
                <td th:text="${city.gdpCity}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td th:text="${city.description}"></td>
            </tr>
        </table>
    </fieldset>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>