<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Lists City</h3>
<p>
    <a th:href="@{/city/create}">
        Add new City
    </a>
</p>

<table id = "customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>City</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${cityList}">
        <td th:text="${rowStat.index+1}"></td>
        <td th:text="${row.nameCity}"></td>
        <td th:text="${row.country.name}"></td>
        <td><a th:href="@{/city/edit/__${row.id}__}">edit</a></td>
        <td><a th:href="@{/city/delete/__${row.id}__}">delete</a></td>
        <td><a th:href="@{/city/view/__${row.id}__}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>