<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/city/save}" th:object="${city}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Of City</label>
            <input type="text" th:text="${city.nameCity}" name="nameCity"/>
        </div>

        <label for="country">Country:</label>
        <select id="country" th:each="country: ${countryList}" name="country">
            <option th:text="country"></option>
        </select>
        <div>
            <label>Area</label>
            <input type="number" th:text="${city.area}" name="area"/>
        </div>
        <div>
            <label>Population Data</label>
            <input type="number" th:text="${city.populationData}" name="populationData"/>
        </div>
        <div>
            <label>GDP City</label>
            <input type="number" th:text="${city.gdpCity}" name="gdpCity"/>
        </div>

        <div>
            <label>description</label>
            <input type="number" th:text="${city.description}" name="gdpCity"/>
        </div>
        <input type="submit" value="Save"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>